.poster {
    width: 150px;
    cursor: pointer;
    height: 150px;
    border-radius: 5px;
  }
  .lang {
    span {
      background-color: #313133;
      padding: 2px 5px;
      border-radius: 3px;
    }
  }
  