.dashboard_cards{
    width:23.6%;
    padding:22px;
    cursor: pointer;
    z-index:1;
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .dashboard_cards {
      width:48%;
    }
  }

  @media only screen and (max-width: 767px){
    .dashboard_cards{
        width:100%;
        padding:23px;
    }
  }

  .card-container::-webkit-scrollbar{
     width:0px;
     color:transparent;
  }

  .card-container{
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

