@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  outline: none !important;
  font-family: "Roboto", sans-serif !important;
  a {
    text-decoration: none !important;
  }
}
body {
  background-color: #000000;
  background: #0c0c0d;
  margin: 0;
  padding: 0;
}

.input-fieleds {
  input {
    background-color: #313133;
    color: #f9f9f9;
    border: none;
    box-shadow: none;
    height: 44px !important;
    font-weight: 500;
     max-width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

    &::placeholder {
      color: #6c757d;
      font-weight: bold;
      font-size: 14px;
    }

    &:focus {
      background: #48484a;
      box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
      transition: all 0.5s ease;
      border: 0;
      color: #f9f9f9;
      outline: 0 !important;
    }
  }
}