@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  outline: none !important;
  font-family: "Roboto", sans-serif !important;
  a {
    text-decoration: none !important;
  }
}
body {
  background-color: #000000;
  background: #0c0c0d;
  margin: 0;
  padding: 0;
}
